
@{
    ViewData["Title"] = "EaterAboutUs";
    Layout = "~/Views/Shared/_EaterLayout.cshtml";
}

<table>
    <tr>
        <td style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size:30px;color:hotpink;text-align:left">
       About Us Page

        </td>
    </tr>
</table>


